.emailType {
    color: var(--secondary-color-dark);
    display: flex;
    flex-direction: row;
    padding: 7px 10px;
    align-items: center;
}

.emailType.active {
    color: var(--primary-color);
}

.emailType > span {
    color: #000;
    margin-inline-start: 20px;
    font-weight: 500;
    flex-grow: 1;
}

.emailType.active > span {
    color: var(--primary-color);
}

.emailType:hover > *:not(div) {
    color: var(--primary-color);
}