/* both when component is open or close */
.senderDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.senderDetails img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.senderDetails h3 {
  font-size: 1rem;
  font-weight: 500;
}

.date {
  font-size: 0.8rem;
  color: var(--secondary-color-dark);
  font-weight: 500;
}

/* when component is open */
.msgLiOpen {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-bottom: 1px solid #e6e9ec;
  padding: 20px 0;
  cursor: pointer;
}

.msgLiOpen .msgDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.msgLiOpen > p {
  font-size: 0.95rem;
}

/* when component is close */
.msgLiClose {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e9ec;
  padding: 20px 0;
  cursor: pointer;
}

.msgLiClose .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.msgLiClose .content {
  font-size: 0.85rem;
  color: var(--secondary-color-dark);
  font-weight: 500;
  text-overflow: ellipsis;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
}

.msgLiClose .content::before {
  content: '- ';
}
