@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

a {
  text-decoration: none;
}

:root {
  /* colors */
  --primary-color: #00A389;
  --secondary-color-dark: #A2AAB4;
  --secondary-color-light: #f4f6f8;
  --secondary-color-bg: #f0f1f3;
  --primary-color-bg: #e0f4f1;
  ;

  /* sizes */
  --border-radius: 10px;
}

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
